<%# 
  Project name: Locatable
  Description: Sending out alerts to the user's close contacts when they are in possible danger
  Filename: new.html.erb
  Description: Creating view for the creating new user_profile page
  Last modified on: 4/20/22
  Code written by Nithya Nalluri
%>

<h1>New User Profile</h1>

<%= render 'form', user_profile: @user_profile %>

<%= link_to 'Back', user_profiles_path %>
