<%# 
  Project name: Locatable
  Description: Sending out alerts to the user's close contacts when they are in possible danger
  Filename: about.html.erb
  Description: Creating a view for the about page for Locatable, an informational page about the app's mission
  Last modified on: 4/20/22
  Code written by Nithya Nalluri
%>

<br>
<h1>What is Locatable?</h1>
<p>
  
<h2>Objective</h2>
<p>
	A web-based application that allows the user to send their location to their emergency contacts and this sends an SMS and email notification.  

<h2>Importance of the Project</h2>

<p>
  This problem is innovative because it offers older users the privacy they need instead of using the locator app where parental unit/emergency contacts will not know your very step, this offers people a way to let their emergency contact if they feel a bit unsafe and uncertain of their safety they can get an alert sent out. The current apps out in the market, whether they are mobile and or web-based apps, they have features of alerting the user’s emergency contacts about where they are at all times, or to get help from local authorities, however many of these features cost money and are required for some sort of monthly subscription. Safety is a basic human right,no one should be afraid of not being able to go back home, and for that reason the Locatable web-based app will be free to its users c carfully handle all the user's sensitive information.
</p>


<h2>For Future Implementation</h2>
<p>
  Several features in this that can be expanded upon and fixed in the future. 
</p>
<ul>
  <li>
    <em>Every user only sees their data</em> - Currently all users can see the some database information, so be futher configuring devise will help solve this issue.
  </li>
  <li>
    <em>Fix the IP Address Location Extraction</em> - I am able to get the IP address, but not able to get an output from the function that gets the location in the user_locations controller.
  </li>
  <li>
    <em>Fix the email and Alerts</em> - Currently the emailing only works as a new contact is make, there need to be some work done to use the existing assoications. 
  </li>
</ul>
