<%# 
  Project name: Locatable
  Description: Sending out alerts to the user's close contacts when they are in possible danger
  Filename: instructions.html.erb
  Description: Creating a view for the instructions page for Locatable
  Last modified on: 4/20/22
  Code written by Nithya Nalluri
%>

<%# 
  Project name: Locatable
  Description: Sending out alerts to the user's close contacts when they are in possible danger
  Filename: about.html.erb
  Description: Creating a view for the about page for Locatable, an informational page about the app's mission
  Last modified on: 4/20/22
  Code written by Nithya Nalluri
%>

<br>
<h1>How to Use Locatable?</h1>
<p>
  
<h2>Create and account</h2>
<p>
To signup click on the Login in button on the left side of the navigation bar.

<h2>Emergency Contacts Page</h2>

<p>
The user can add their emergency contact's information. You will need to add the contacts name, email, phone, and relationship.
</p>

<h2>Manage Locations Page</h2>
<p>
The user can have all their saved locations in this page from all the updated loactions from the ip address. Currently it is just basic CRUD work. 
</p>

<h2>User Profile Page</h2>
<p>
The user update their account information. The ip address in the future would be saved in this table.  
</p>
