<%# 
  Project name: Locatable
  Description: Sending out alerts to the user's close contacts when they are in possible danger
  Filename: new_alert.html.erb
  Description: Creating a message to send for email
  Last modified on: 4/20/22
  Code written by Nithya Nalluri
%>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new alert <%= %></p>
    <p>
    Alert details<br>
    --------------------------
    </p>
    <p>Name: <%= "Hello "%></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= "This is an alert message!" %></p>
    <p>
  </body>
</html>

