<%# 
  Project name: Locatable
  Description: Sending out alerts to the user's close contacts when they are in possible danger
  Filename: new.html.erb
  Description: Page for creating a new contact
  Last modified on: 4/20/22
  Code written by Nithya Nalluri
%>

<h1>Create New Contact</h1>

<%= render 'form', contact: @contact %>


<%= link_to 'Back', contacts_path %>
